---
import ProductCard from '@components/ProductCard.astro';
import Layout from '@layouts/Layout.astro';
import products from '../data/products.json';

export function getStaticPaths(){

    const paths = products.map((product) => ({
        params: { name: product.product.toLowerCase() }, 
        props: { image: product.image, price: product.price, description: product.description }
    }))
    
    return paths;
}

const { name } = Astro.params;
const { image , price, description } = Astro.props;
---


<Layout title={`Restó Bodegón - ${name}`}>
    
    <div class="cnt-details">
        <ProductCard name={name} image={image} price={price} description={description} isDetail/>
    </div>
    
</Layout>

<style>
    .cnt-details{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        min-height: 100vh;
        padding: 6.5rem 2.5rem;
        margin: 2rem auto;
        width: 70vw;
    }

    /* Desktops (≥992px) */
    @media screen and (min-width: 992px) {
        
    }

    /* Large desktops (≥1200px) */
    @media screen and (min-width: 1200px) {
        
    }
</style>
