---

interface Props{
    name : string;
    options :[string] ;
    errorMessage : string
}


const { name, options, errorMessage } = Astro.props;
---

<select class={name} name={name} id={name} required >
  <option class="option" value="">Seleccione...</option>
  {
    options.map(option => (
      <option class="option" value={option} >{option}</option>
  ))}
</select>

<style>
  select{
    width: var(--size-input);
    margin: 0 auto;
    font-size: var(--size-text);
    text-decoration: none;
    border: none;
    font-family: var(--font-family-text);
    background-color: oklch(0.3987 0.0291 48.28);
    color: white;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .option{
    font-size: 20px;
    
    color: white;
    font-family: var(--font-family-text);
    text-align: center;
  }
  @media screen and (min-width : 768px) {
    select{
      width: var(--size-input-tablet);
      font-size: 0.9em;
      height: var(--size-input-height-tablet);
    }
  }
  @media screen and (min-width : 992px) {
    select{
      font-size: var(--size-text-desktop);
      height: var(--size-input-height-desktop);
      width: var(--size-input-width-desktop);
      text-align: center;
    }
    .option{
      margin: auto 0;
    }
  }
  @media screen and (min-width : 1160px) {
    select{
      width: 21vw;
    }
  }  
  @media screen and (min-width : 1300px) {
    select{
      width: 21vw;
    }
  }
  @media screen and (min-width : 1370px) {
    select{
      width: 19vw;
    }
  }
  @media screen and (min-width : 1400px) {
    select{
      width: 19vw;
    }
  }
  @media screen and (min-width : 1500px){
    select{
      width: 16vw;
    }
  }
  @media screen and (min-width : 1650px) {
  select{
    width: 15vw;
  }
  }
  @media screen and (min-width : 1920px){
    select{
      width: 18vw;
      height: 4vh;
    }
  }
  @media screen  and (min-height : 1150px){
    select{
      height: 3.5vh;
    }
  }
  @media screen  and (max-height : 500px){
    select{
      height: 9vh;
    }
  }
</style>